@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap");

/* NAVBAR SCROLL CHANGES */
.ht {
  background-color: #f4b41a !important;
}
.img-scroll-ht {
  max-width: 7rem !important;
  max-height: 45rem !important;
}

.nav-colored {
  height: 12%;
  background-color: rgb(49, 49, 49) !important;
  /* background-color: #373543 !important; */

  padding-top: 1rem;
}
.nav-transparent {
  background-color: transparent !important;
}
/* END : NAVBAR SCROLL CHANGE*/

/* LANDING PAGE */
section {
  background-image: linear-gradient(
      to right,
      #3cc194,
      rgba(109, 109, 109, 0.486)
    ),
    url("../images/bg-vector2.png") !important;
  background-color: rgb(255, 255, 255);
  height: 100vh;
}
.img-resize {
  padding: 1.2rem !important;
  height: auto;
  width: auto;
  max-width: 14rem;
  max-height: 8rem;
}
.clip-img {
  margin-left: 2%;
  background-color: rgb(2, 2, 2);
  clip-path: polygon(7% 0%, 100% 0%, 92% 93%, 0 85%);
}
.clip-img :hover {
  background-color: rgb(218, 156, 23);
}
/* END : LANDING PAGE */

/* SIDE NAV */
li .user-view {
  margin-left: 1rem;
  height: 10rem !important;
}
/* END :SIDE NAV */

/* WHY SCRAPEGOAT SECTION */
.section {
  background-color: rgb(191, 253, 201);
}
.section-title {
  font-weight: 300;
  margin: 5rem;
  font-family: "Montserrat", sans-serif;
}
.card-panel {
  background-color: #222222 !important;
  padding: 4rem;
  /* margin: 0 !important; */
}
.section-card :hover {
  /* transform: translate(-30px, -30px);
  transition: 0.25s ease; */
  background-color: rgb(255, 226, 65);
}
.section-card {
  font-size: larger;
  font-weight: 100 !important;
  font-family: "Montserrat", sans-serif;
  background-color: #000000 !important;
  color: #ffffff;

  /* font-family: "Open Sans", sans-serif; */
}
.section-card.card1 {
  clip-path: polygon(7% 5%, 85% 0%, 87% 90%, 0 85%);
}
.section-card.card2 {
  clip-path: polygon(5% 1%, 90% 3%, 92% 93%, 0 85%);
}
.section-card.card3 {
  clip-path: polygon(0% 7%, 90% 0%, 82% 93%, 0 85%);
}

.border-card {
  border: 2px dashed #000000;
}
.border-card-dashed {
  /* position: absolute; */
  border: 2px dashed #000000;
}
.border-card :hover {
  transform: translate(-30px, -30px);
  transition: 0.25s ease;
  border: 2px solid #f4b41a;

  /* transition: cubic-bezier(0.165, 0.84, 0.44, 1) 400ms; */
}

.card {
  padding: 2rem;
  background: #fff;
  width: auto;
  height: auto;
  border-radius: 40px;
  margin: 1rem;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 768px) {
  .card {
    margin: 3rem;
  }
}

.card:hover {
  -ms-transform: scale(1.01, 1.01);
  /* IE 9 */
  -webkit-transform: scale(1.01, 1.01);
  /* Safari */
  transform: scale(1.01, 1.01);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.highlight {
  font-weight: bold;
  color: rgb(0, 235, 66);
}

.shadow1 {
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(4, 7, 17, 0.2);
}

.material-icons.custom {
  font-size: 9rem;
  /* color: #ffc400bb; */
  background: linear-gradient(to right, #3cc194, rgba(109, 109, 109, 0.486));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateY(-20px);
}
h6 {
  font-size: larger;
  line-height: 1.7rem;
}
h6.bold{
  font-weight: 600 !important;
  color: #242424;
}
/* END - WHY SCRAPEGOAT SECTION */

@media (max-width: 768px) {
}
