@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Sen&display=swap");

/* COMMON */
.section {
  max-width: 100vw !important;
  overflow: hidden !important;
}
.section-title {
  font-weight: 300;
  margin: 5rem;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 768px) {
  .section-title {
    margin: 2rem;
    font-size: 2.4rem;
  }
}
/* NAVBAR SCROLL CHANGES */
.ht {
  background-color: #f4b41a !important;
}
.img-scroll-ht {
  max-width: 7rem !important;
  max-height: 45rem !important;
}

.nav-colored {
  height: 12%;
  background-color: rgb(49, 49, 49) !important;
  /* background-color: #373543 !important; */

  padding-top: 1rem;
}
.nav-transparent {
  background-color: transparent !important;
}
/* END : NAVBAR SCROLL CHANGE*/

/* LANDING PAGE */
section {
  background-image: linear-gradient(
      to right,
      #3cc194,
      rgba(109, 109, 109, 0.486)
    ),
    url("../images/bg-vector2.png") !important;
  background-color: rgb(255, 255, 255);
  height: 100vh;
}
.img-resize {
  padding: 1.2rem !important;
  height: auto;
  width: auto;
  max-width: 14rem;
  max-height: 8rem;
}
.clip-img {
  margin-left: 2%;
  background-color: rgb(2, 2, 2);
  clip-path: polygon(7% 0%, 100% 0%, 92% 93%, 0 85%);
}
.clip-img :hover {
  background-color: rgb(218, 156, 23);
}
/* END : LANDING PAGE */

/* SIDE NAV */
li .user-view {
  margin-left: 1rem;
  height: 10rem !important;
}
/* END :SIDE NAV */

/* WHY SCRAPEGOAT SECTION */
.whySection {
  /* background-color: rgb(191, 253, 201); */
  background-image: linear-gradient(to right, #f4b31ac4, rgb(255, 255, 255));
  padding-bottom: 3rem;
}

.card {
  padding: 2rem;
  background: #fff;
  width: auto;
  height: auto;
  border-radius: 40px;
  margin: 1rem;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

.card:hover {
  -ms-transform: scale(1.01, 1.01);
  /* IE 9 */
  -webkit-transform: scale(1.01, 1.01);
  /* Safari */
  transform: scale(1.01, 1.01);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shadow1 {
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(4, 7, 17, 0.2);
}

.material-icons.custom {
  font-size: 9rem;
  /* color: #ffc400bb; */
  background: linear-gradient(to right, #2e2e2e, rgba(109, 109, 109, 0.486));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateY(-20px);
}
h6 {
  font-size: larger;
  line-height: 1.7rem;
}
h6.bold {
  font-weight: 600 !important;
  color: #242424;
}
/* END - WHY SCRAPEGOAT SECTION */

/* WHAT WE DO SECTION */
.section-bg {
  /* background-color: #dbdbdb; */
  background: url("../images/bg-vector2.png"), #f1f1f1;
}
.svg {
  background-color: rgba(255, 255, 255, 0);
}
.svg-text {
  font-family: "Sen", sans-serif;
}

/* END - WHAT WE DO SECTION */

/* FOOTER */
.footer-bg {
  background-color: #292929;
}
/* END : FOOTER */

/* TEAM.HTML */

.team h3 {
  display: inline-block;
  margin-top: 0;
  padding-bottom: 8px;
  line-height: 3.5rem;
}

.team p.caption {
  color: #888;
  margin-bottom: 40px;
}

.team .divider {
  margin: 40px 0 80px;
}

.team .avatar-wrapper {
  display: block;
  width: 80%;
  max-width: 150px;
  margin: 0 auto 30px;
}

.team .avatar-wrapper:hover::after {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.team .avatar-wrapper::after {
  border-width: 4px;
}

.team .avatar-wrapper .avatar {
  width: 100%;
  padding-bottom: 100%;
}

.team .avatar-wrapper .avatar img {
  width: 100%;
}

.team .avatar-wrapper .avatar::after {
  border-width: 10px;
}

.team .avatar-name {
  margin-top: 20px;
  display: block;
  text-align: center;
}

.team .avatar-name .name {
  font-weight: 500;
  font-size: 18px;
}

.team .avatar-name .title {
  display: block;
  font-weight: 300;
  font-size: 14px;
  color: #888;
}

@media only screen and (max-width: 600px) {
  .team .avatar-wrapper {
    margin: 0 auto;
  }

  .team .avatar-name {
    margin-bottom: 40px;
  }
}
.avatar-wrapper .avatar {
  border-radius: 50%;
}

.avatar-wrapper {
  position: relative;
  display: inline-block;
}

.avatar-wrapper .avatar {
  display: block;
  overflow: hidden;
  height: 50px;
  width: 50px;
}

.avatar-wrapper .avatar img {
  width: 50px;
}

.avatar-wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
  transition: border-color 0.15s, -webkit-transform 0.15s;
  transition: transform 0.15s, border-color 0.15s;
  transition: transform 0.15s, border-color 0.15s, -webkit-transform 0.15s;
}

.avatar-wrapper:hover::after {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  border-color: #f4b41a;
  transition: border-color 0.2s,
    -webkit-transform 0.2s cubic-bezier(0.06, 0.59, 0.24, 1.55);
  transition: transform 0.2s cubic-bezier(0.06, 0.59, 0.24, 1.55),
    border-color 0.2s;
  transition: transform 0.2s cubic-bezier(0.06, 0.59, 0.24, 1.55),
    border-color 0.2s,
    -webkit-transform 0.2s cubic-bezier(0.06, 0.59, 0.24, 1.55);
}

@media (max-width: 768px) {
}
