.ht{

  background-color:#f4b41a !important;

}
.img-scroll-ht{
  max-width: 7rem !important;
  max-height: 45rem !important;
}

.nav-colored {
  height: 12%;
  background-color: rgb(49, 49, 49) !important;
  /* background-color: #373543 !important; */

  padding-top: 1rem;
  
}
.nav-transparent {
  background-color: transparent !important;
}
section {
  background-image: linear-gradient(
      to right,
      #3cc194,
      rgba(109, 109, 109, 0.486)
    ),
    url("../images/bg-vector2.png") !important;
  background-color: rgb(255, 255, 255);
  height: 100vh;
}
.img-resize {
  padding: 1.2rem !important;
  height: auto;
  width: auto;
  max-width: 14rem;
  max-height: 8rem;
}
.clip-img {
  margin-left: 2%;
  background-color: rgb(2, 2, 2);
  clip-path: polygon(7% 0%, 100% 0%, 92% 93%, 0 85%);
}
.clip-img :hover {
  background-color: rgb(218, 156, 23);
}

@media(max-width: 768px) {
  
}